<!DOCTYPE html>
<html>
    <head>    
      <link rel="stylesheet" href="css/login.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">        
      <title>Login UI</title>
    </head>
    
<body>
        <div id="form">  
          <form action="auth" method="POST">
            <h4 align="center">member login<br></hr></h4>
                <div id="inputs">
              <input type="text" name="email" placeholder="Email" required>
              <input type="text" name="password" placeholder="********" required>
                <p align="center" id="link"><a href="#"><i>Forgot Password?</i></a></p>
              <input type="submit" class="log" value="➭ submit">
                <p align="center" id="link"><a href="/register"><i>Create new account</i></a></p>
            </div>
         </form>
       </div>
        
    </body>
</html>