<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="./css/main.css">
<style>
.flex{
  display: flex;
  flex-direction: column;
align-items:center;
  justify-content:center;
}

.flex > div {
  background-color: #f1f1f1;
 width: 250px;
  margin: 1px;
  text-align: center;
  font-size: 20px;
}
</style>
</head>
<body>
<header>
<div class="title">
<h2>WELCOME FOODIE</h2>
</div>
<div class="main">
<div class="logo">
<img src="./img/logo1.jpg">
<ul>
<li><a href="#">HOME</a></li>
<li><a href="#">ABOUT</a></li>
<li><a href="#">CONTACT</a></li>
</ul>
</div>
<div class="container">
<div class="gallery">
<img src="./img/hard rock.jpg">
<div class="flex">
  <div>HARD ROCK CAFE</div>
  <div>7635129987</div>
  <div>CHURCH STREET</div>  
</div>
</div>

<div class="gallery">
<img src="./img/samanya.jpg">
<div class="flex">
  <div>SAMANYA</div>
  <div>9985129987</div>
  <div>KORMANGALA</div>  
</div>
</div>
<div class="gallery">
<img src="./img/old vila.jpg">
<div class="flex">
  <div>OLS VILLA</div>
  <div>8535129987</div>
  <div>BRIGADE ROAD</div>  
</div>
</div>

<div class="gallery">
<img src="./img/new town.jpg">
<div class="flex">
  <div>NEW TOWN</div>
  <div>6735129987</div>
  <div>SHIVAJI NAGAR</div>  
</div>
</div>

<div class="gallery">
<img src="./img/kateel.jpg">
<div class="flex">
  <div>KATEEL</div>
  <div>5485129987</div>
  <div>NMIT COLLEGE</div>  
</div>
</div>

<div class="gallery">
<img src="./img/globe.jpg">
<div class="flex">
  <div>GLOBE</div>
  <div>0095129987</div>
  <div>BEL ROAD</div>  
</div>
</div>

<div class="gallery">
<img src="./img/brownies.jpg">
<div class="flex">
  <div>CAFE 24</div>
  <div>7885129987</div>
  <div>CHURCH STREET</div>  
</div>
</div>

<div class="gallery">
<img src="./img/fun cape.jpg">
<div class="flex">
  <div>FUN CAPE</div>
  <div>9975129987</div>
  <div>YELAHANKA</div>  
</div>
</div>

<div class="gallery">
<img src="./img/top ten.jpg">
<div class="flex">
  <div>TOP TEN</div>
  <div>9115129987</div>
  <div>WHITEFIELD</div>  
</div>
</div>

<div class="gallery">
<img src="./img/foody us.jpg">
<div class="flex">
  <div>FOODY US</div>
  <div>9555129987</div>
  <div>BAGLAUR CROSS</div>  
</div>
</div>

</body>
</html>

