<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/public/css/main.css">
</head>
<body>
<header>
<div class="title">
<h2>WELCOME FOODIE</h2>
</div>
<div class="main">
<div class="logo">
<img src="/public/img/logo1.jpg">
<ul>
<li><a href="#">HOME</a></li>
<li><a href="#">ABOUT</a></li>
<li><a href="#">CONTACT</a></li>
</ul>
</div>
<div class="container">
<div class="gallery">
<img src="/public/img/hard rock.jpg">
<div class="desc">RATING-5</div>
<div class="button">
<a href="#" class="btn">HARD ROCK CAFE</a>
</div>
</div>
<div class="gallery">
<img src="/public/img/samanya.jpg">
<div class="desc">RATING-5</div>
<div class="button">
<a href="#" class="btn">SAMANYA</a>
</div>
</div>
<div class="gallery">
<img src="/public/img/old vila.jpg">
<div class="desc">RATING-5</div>
<div class="button">
<a href="#" class="btn">OLD VILLA</a>
</div>
</div>
<div class="gallery">
<img src="/public/img/new town.jpg">
<div class="desc">RATING-5</div>
<div class="button">
<a href="#" class="btn">NEW TOWN</a>
</div>
</div>
<div class="gallery">
<img src="/public/img/kateel.jpg">
<div class="desc">RATING-5</div>
<div class="button">
<a href="#" class="btn">KATEEL</a>
</div>
</div>
<div class="gallery">
<img src="/public/img/globe.jpg">
<div class="desc">RATING-5</div>
<div class="button">
<a href="#" class="btn">GLOBE</a>
</div>
</div>
<div class="gallery">
<img src="/public/img/brownies.jpg">
<div class="desc">RATING-5</div>
<div class="button">
<a href="#" class="btn">CAFE 24</a>
</div>
</div>
<div class="gallery">
<img src="/public/img/fun cape.jpg">
<div class="desc">RATING-5</div>
<div class="button">
<a href="#" class="btn">FUN CAPE</a>
</div>
</div>
<div class="gallery">
<img src="/public/img/top ten.jpg">
<div class="desc">RATING-5</div>
<div class="button">
<a href="#" class="btn">TOP TEN</a>
</div>
</div>
<div class="gallery">
<img src="/public/img/foody us.jpg">
<div class="desc">RATING-5</div>
<div class="button">
<a href="#" class="btn">FOODY US</a>
</div>
</div>

</body>
</html>

