<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Restration</title>
    <link
      href="css/register.css"
      rel="stylesheet"
    />
    
  </head>
  <body>
    <!-- <img src="/public/img/registerimg.jfif" id = "bg" alt=""> -->
    <div id="container">
      <div class="form-wrap">
        <h1>Sign Up</h1>
        <p>It's free and only takes a minute</p>
        <form action="registration" method="POST">
          <div class="form-group">
            <label for="name">FULL NAME</label>
            <input type="text" name="name" id="name" />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
          </div>
          <div class="form-group">
            <label for="contact">contact number</label>
            <input type="number" name="contact" id="contact" />
          </div>
          <div class="form-group">
            <label for="latitude">latitude</label>
            <input type="number" name="latitude" id="latitude" />
          </div>
          <div class="form-group">
            <label for="longitude">longitude</label>
            <input type="number" name="longitude" id="longitude" />
          </div>
          <button type="submit" class="btn">Sign Up</button>
          <p class="bottom-text">
            By clicking the Sign Up button, you agree to our
            <a href="#">Terms & Conditions</a> and
            <a href="#">Privacy Policy</a>
          </p>
        </form>
      </div>
      <footer>
        <p>Already have an account? <a href="login">Login Here</a></p>
      </footer>
    </div>
  </body>
</html>
